input[type='submit'],
input[type='reset'],
input[type='button'],
button,
.button {
	position: relative;
	border: none; // border: none;
	height: auto;
	font-family: _font(family-body);
	font-weight: _font(weight-semibold);
	color: _palette(button-primary-text);
	transition: _transition(default);
	margin: 0;
	padding: 0;
	@media (max-width: 411px) {
		width: 100% !important;
	}

	a {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 1.5em 1em;
		span {
			width: 100%;
			display: flex;
		}
	}

	svg {
		display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: _size(element-width) * 0.05;
		transition: _transition(default);
	}

	&:hover svg {
		transform: translateX(8px);
		transition: _transition(default);
	}

	&:hover {
		transition: _transition(default);
	}
	&:active {
		outline: none;
		transition: _transition(default);
	}
	&:focus {
		outline: none;
	}

	&.primary {
		background-color: _palette(primary);
		a:hover {
			color: _palette(background);
		}
	}

	&.primary-outline {
		background: none;
		border: none; // border: 2px solid _palette(primary);
		color: _palette(primary);

		path {
			fill: _palette(primary);
			transition: _transition(default);
		}

		&:hover {
			background: _palette(primary);
			color: _palette(button-primary-text);
			& path {
				fill: _palette(button-primary-text);
				transition: _transition(default);
			}
		}
	}

	&.secondary {
		background-color: _palette(button-secondary);
		color: _palette(primary);

		path {
			fill: _palette(primary);
			transition: _transition(default);
		}
	}

	&.secondary-outline {
		background: rgba(0, 0, 0, 0);
		border: none; // border: 2px solid _palette(secondary);
		color: _palette(button-secondary);

		path {
			fill: _palette(primary);
			transition: _transition(default);
		}

		&:hover {
			background: _palette(secondary);
			color: _palette(button-secondary-text);
			& path {
				fill: _palette(button-secondary-text);
				transition: _transition(default);
			}
		}
	}

	&.default {
		background-color: _palette(button-default);
		color: _palette(button-default-text);
	}

	&.default-outline {
		background: rgba(0, 0, 0, 0);
		border: none; // border: 2px solid _palette(button-default);
		color: _palette(button-default);

		path {
			fill: _palette(button-default);
			transition: _transition(default);
		}

		&:hover {
			background: _palette(button-default);
			color: _palette(button-default-text);
			& path {
				fill: _palette(button-default-text);
				transition: _transition(default);
			}
		}
	}

	&.large {
		border: none; // border-top-right-radius: 35px;
		border: none; // border-bottom-left-radius: 35px;
		width: _size(element-width) * 1.5;
		// padding: (_size(element-margin) * 2.25) (_size(element-margin) * 1.5);
		font-size: _font(label-large);

		svg {
			width: 25px;
			height: 25px;
		}
	}

	&.medium {
		// border: none; // border-top-left-radius: 25px;
		// border: none; // border-bottom-right-radius: 25px;
		width: _size(element-width) * 1.25;
		// padding: (_size(element-margin) * 2.2) (_size(element-margin) * 1.65);
		font-size: _font(label-medium);
		font-weight: _font(weight-medium);
		svg {
			width: 20px;
			height: 20px;
		}
	}

	&.small {
		// border: none; // border-top-left-radius: 15px;
		// border: none; // border-bottom-right-radius: 15px;
		width: _size(element-width) * 1.15;
		// padding: _size(element-margin) * 1.2;
		font-size: _font(label-small);
		svg {
			width: 15px;
			height: 15px;
		}
	}
}
