.divider {
	position: relative;
	width: 100vw;
	margin: -40px -4vw 0 -4vw;
	height: 80px;
	max-width: 2650px;
	z-index: 200;

	.divider-container {
		position: relative;
		// height: 80px;
		z-index: 2;
		.scroll-arrow {
			position: absolute;
			transform: translate(-50%, 50%);
			left: 50%;
			z-index: 100;
			// @media (max-width: 948px) {
			// 	display: none;
			// }
		}
		.divider-bar {
			position: absolute;
			filter: drop-shadow(0px -10px 5px rgba(0, 0, 0, 0.05));
			z-index: 100;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
