header {
	display: flex;
	position: relative;
	height: 80px;
	padding: 0 4vw;
	margin: 0 0 -80px 0;
	background-color: _palette(background);
	box-shadow: _box-shadow(default);

	a {
		height: 80px;
		display: inline-flex;
		align-items: center;
		span {
			text-transform: capitalize;
		}
	}
	svg {
		height: 100%;
		width: 40px;
		padding: 7px;
	}
	nav {
		margin: 0 40px 0 auto;
		display: flex;
		justify-content: space-evenly;
		width: 60%;
		max-width: 600px;
		@media (max-width: 600px) {
			display: none;
		}
	}
	.nav-link-active {
		color: _palette(primary);
		transition: _transition(default);
	}
	.menu {
		cursor: pointer;
		position: absolute;
		right: 4vw;
		path {
			transition: _transition(default);
		}
		&:hover path {
			fill: _palette(primary);
			transition: _transition(default);
		}
	}
}
