body,
input,
select,
textarea {
	color: _palette(gray-700);
	background: _palette(background);
	font-family: _font(family-fallback);
	font-family: _font(family-body);
	font-size: _font(default);
	font-weight: _font(weight);
	line-height: 1.75;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: _font(weight-semibold);
	transition: _transition(default);

	&:hover {
		color: _palette(primary);
		transition: _transition(default);
	}
}

strong,
b {
	// color: _palette(body-bold);
	font-weight: _font(weight-bold);
}

em,
i {
	font-style: italic;
}

p {
	font-size: _font(body-medium);
	margin: 0 0 _size(element-margin) * 1.75;
	letter-spacing: _font(kerning-body-large);
	font-weight: _font(weight-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 (_size(element-margin) * 0.25) 0;
	font-weight: _font(weight-bold);
	letter-spacing: _font(kerning-heading);
	color: _palette(gray-900);

	a {
		color: inherit;
	}
}

h1 {
	font-size: _font(header-large);
	font-weight: _font(weight-bold);
	line-height: 1.35;
	margin-bottom: _size(element-margin) * 0.25;
}

h2 {
	font-size: _font(header-medium);
	font-weight: _font(weight-semibold);
	line-height: 1.55;
	margin-bottom: _size(element-margin) * 0.5;
}

h3 {
	font-size: _font(header-small);
	font-weight: _font(weight-semibold);
	line-height: 1.65;
	margin-bottom: _size(element-margin) * 0.8;
}

.body-large {
	font-size: _font(body-large);
	letter-spacing: _font(kerning-body-large);
}

.body-medium {
	font-size: _font(body-medium);
	letter-spacing: _font(kerning-body-medium);
}

.body-small {
	font-size: _font(body-small);
}

.label-large {
	font-size: _font(label-large);
	font-weight: _font(weight-semibold);
}

.label-medium {
	font-size: _font(label-medium);
	font-weight: _font(weight-medium);
}

.label-small {
	font-size: _font(label-small);
	font-weight: _font(weight-semibold);
}
