picture {
	margin: 0 -4vw;
	width: 40%;
	max-width: 1000px;
	flex-grow: 1;
	flex-shrink: 1;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		min-height: 400px;
	}
}

#home {
	background: hsl(0, 0%, 98%);
	picture {
		position: relative;
		margin-bottom: -20px;
	}
	padding-top: 120px;
	margin-top: -120px;
	margin-bottom: -60px;
}

section {
	// position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 4vw;
	gap: 2em;
	flex-wrap: wrap;
	aside {
		width: fit-content;
		margin: 40px 4vw;
		// margin: 0 auto;
		flex-basis: 32em;
		max-width: 49em;
	}
	// .border-rounded-rtl {
	// 	border-top-right-radius: 20px;
	// 	border-bottom-left-radius: 20px;
	// }
	// .border-rounded-ltr {
	// 	border-top-left-radius: 20px;
	// 	border-bottom-right-radius: 20px;
	// }
	.links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 2vh;
	}
}

.about-section {
	@media (max-width: 811px) {
		aside {
			order: -1;
		}
		.divider {
			order: -2;
		}
	}
}

.banner-cta {
	background: _palette(primary);
	width: 100vw;
	margin: 0 -4vw;
	padding: 4rem 8vw;
	overflow: hidden;
	aside {
		margin: 4vh auto;
		text-align: center;
		max-width: 38em;
		h3 {
			color: _palette(background);
		}
		p {
			margin: 0 auto;
			color: _palette(background);
		}
	}
	.button {
		display: block;
		margin: 0 auto;
	}
}
