picture {
	margin: 0 -4vw;
	width: 40%;
	max-width: 1000px;
	flex-grow: 1;
	flex-shrink: 1;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		min-height: 400px;
	}
}

#home {
	background: hsl(0, 0%, 98%);
	picture {
		height: 100%;
		position: relative;
	}
	padding-top: 120px;
	margin-top: -120px;
	margin-bottom: -60px;
}

section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 4vw;
	gap: 5em;
	flex-wrap: wrap;
	aside {
		width: fit-content;
		margin: 40px 4vw;
		// margin: 0 auto;
		flex-basis: 32em;
		max-width: 49em;
	}
	// .border-rounded-rtl {
	// 	border-top-right-radius: 20px;
	// 	border-bottom-left-radius: 20px;
	// }
	// .border-rounded-ltr {
	// 	border-top-left-radius: 20px;
	// 	border-bottom-right-radius: 20px;
	// }
	.links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-width: 300px;
		gap: 4vw;
		.button {
			flex-grow: 1;
			width: 150px;
		}
		a {
			display: flex;
			align-items: center;
			height: 55px;
			width: 120px;
			flex-grow: 1;
			span {
				height: fit-content;
				flex-grow: 1;
				text-align: center;
			}
		}
	}
}

.about-section {
	aside {
		@media (max-width: 927px) {
			order: -1;
		}
	}
}

.banner-cta {
	background: _palette(primary);
	width: 100vw;
	margin: 0 -4vw;
	padding: 0 4vw;
	overflow: hidden;
	aside {
		margin: 4vh auto;
		text-align: center;
		padding: 0 0.5em;
		max-width: 28em;
		h3 {
			color: _palette(background);
		}
		p {
			color: _palette(background);
		}
	}
	.button {
		display: block;
		margin: 2rem auto;
	}
}
