#index {
	overflow-x: hidden;
	.landing {
		margin-top: 160px;
		display: flex;
		align-items: center;
		padding-left: 8.5%;

		div {
			h1 {
				width: 80%;
			}
			p {
				width: 60%;
			}
		}

		img {
			width: 50%;
			margin-left: auto;
			margin-bottom: -30px;
			z-index: -1;
		}
	}
	.divider {
		position: relative;
		width: 120%;
		transform: translateX(-50%);
		left: 50%;
		height: 160px;
		margin: 0 auto;
		background-color: white;
		box-shadow: 0px -26px 35px -15px rgba(0, 0, 0, 0.15);
		border-radius: 30%;
	}
}

.about-section {
	position: relative;
	margin-top: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 50%;
	}
	div {
		width: 25%;
		display: inline-block;
		margin: 0 auto;
	}

	.links {
		display: flex;
		align-items: center;
		width: 100%;
		.button {
			margin-right: _size(element-width) * 0.25;
		}
	}
}
