img {
	object-fit: cover;
	margin: 0 -2vw;
	min-height: 400px;
	max-width: 1000px;
	width: 40vw;
	flex-grow: 1;
}

section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10vw 2vw;
	gap: 8vw;
	flex-wrap: wrap;
	aside {
		margin: 0 auto;
		flex-basis: 500px;
		max-width: 500px;
	}
	.border-rounded-rtl {
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.border-rounded-ltr {
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.links {
		display: flex;
		align-items: center;
		button {
			margin-right: 2vw;
		}
	}
}

.banner-cta {
	background: _palette(primary);
	width: 100vw;
	margin: 0 -2vw;
	padding: 4vw 8vw;
	text-align: center;
	button {
		margin: 2rem auto 0 auto;
	}
	aside {
		h3 {
			margin: 0 auto;
			color: _palette(background);
			max-width: 500px;
		}
		p {
			margin: 0 auto;
			color: _palette(gray-400);
			max-width: 500px;
		}
	}
}
