

// Libraries
@import "libs/vars";
@import "libs/grid";
@import "libs/skel";
@import "libs/functions";

// Pages
@import "pages/home";
@import "pages/about";

// Components
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/buttons";
@import "./components/divider";
@import "./components/testemonial";
@import "./components/marquee";

// Base
@import "base/typography";
