

// Libraries
@import "libs/vars";
@import "libs/skel";
@import "libs/functions";
@import "libs/grid";

// Pages
@import "pages/index";
@import "pages/about";

// Components
@import "./layouts/header";
@import "./layouts/footer";
@import "./components/buttons";
@import "./components/scroll-arrow";
@import "./components/testemonial";

// Base
@import "base/typography";
